header {
  background-image: url("../Emaarbagimg.png");
  padding: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.header__block {
  width: 382px;
  padding: 30px;
  background: rgba(7, 28, 53, 0.5);
  backdrop-filter: blur(7.5px);
  margin-top: 40vh;
  cursor: pointer;
  &:hover {
    backdrop-filter: blur(0);
  }
}
.header__hr {
  width: 100px;
  height: 1px;
  background-color: #fff;
  margin-top: 30px;
}
.header__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  margin-top: 30px;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.header__number {
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;
}
.header__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  width: 61px;
}
.header__list {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.header__wrap {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 50px;
}
.scroll {
  visibility: hidden;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.add {
  cursor: pointer;
  position: fixed;
  top: 90vh;
  left: 1vw;
  background-color: black;
  opacity: 0.7;
  visibility: visible;
  transition: all ease 0.3s;
  opacity: 0.7;
  &:hover {
    transform: scale(1.1);
    opacity: 1;
}
}

@media only screen and (max-width: 375px) {
  .container {
    width: 100%;
    max-width: 375px;
  }
}
