@media only screen and (max-width: 576px) {
  .container {
    width: 100%;
    max-width: 576px;
  }
  .header__block {
    width: 350px;
    margin-left: -70px;
    margin-top: 10vh;
  }
  .modal__block {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 100px;
    left: 0;
  }

  .modal__add {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
    position: fixed;
  }
  .modal__bgimg {
    display: none;
  }
  .modal__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 200px;
  }
  .modal__img {
    margin-left: -30px;
    width: 70px;
    height: 270px;
  }
  .modal__bgimg2 {
    width: 350px;
    margin: 5px;
    height: 400px;
    position: relative;
    left: -130px;
    top: 50px;
    .modal__subtitle {
      font-size: 16px;
    }
    input {
      width: 200px;
    }
    .modal__btn {
      padding: 10px 0;
      width: 200px;
    }
    .modal__close {
      padding: 11px 30px;
      position: absolute;
      right: -33px;
      top: 200px;
    }
  }
}

@media only screen and (max-width: 375px) {
  .container {
    width: 100%;
    max-width: 375px;
  }
  .header__block {
    width: 350px;
    margin-left: -70px;
    margin-top: 10vh;
  }
}
@media (max-width: 1450px) {
  .footer__block {
    height: 100%;
  }
}
@media (max-width: 1340px) {
  //   .container {
  //     width: 100%;
  //     max-width: 576px;
  //   }
  .header__block {
    width: 350px;
    margin-left: -70px;
    // margin-top: 10vh;
  }
  .modal__block {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    position: flex;
    top: 0;
    left: 30vw;
  }
  .modal__bgimg {
    margin: 10px 0 5px 20px;
    width: 310px;
    height: 300px;
  }
  .modal__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 200px;
  }
  .modal__img {
    margin-left: -30px;
    width: 70px;
    height: 270px;
  }
  .modal__bgimg2 {
    width: 350px;
    margin: 5px;
    margin: 10px 0 5px 20px;
    height: 400px;
    margin-top: -7px;
    .modal__subtitle {
      font-size: 16px;
    }
    input {
      width: 200px;
    }
    .modal__btn {
      padding: 10px 0;
      width: 200px;
    }
    .modal__close {
      padding: 11px 30px;
      position: absolute;
      right: -33px;
      top: 200px;
    }
  }
}

@media (max-width: 1238px) {
  .emaar__block {
    justify-content: center;
    gap: 150px;
  }
  .emaar__content {
    width: 100%;
  }
  .emaar__text {
    width: 100%;
  }
  .emaar__title {
    width: 100%;
  }
  .emaar__btn-wrap {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 931px) {
  .hotel__aside {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 537px) {
  .emaar__title {
    font-size: 28px;
  }
  .emaar__list {
    font-size: 28px;
  }
}
@media (max-width: 420px) {
  .emaar__block {
    width: 330px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .emaar__wrap {
    width: 330px;
    height: 450px;
    position: relative;
    img {
      width: 330px;
      height: 450px;
    }
    .emaar__img {
      width: 330px;
      height: 450px;
      position: absolute;
      top: 0px;
      left: 20px;
    }
  }
  .emaar__content {
    margin-top: -70px;
  }
  .project__title {
    margin-top: 50px;
  }
  .project__block {
    display: flex;
    flex-wrap: wrap;
    img {
      width: 330px;
      height: 450px;
    }
    .emaar__aside {
      width: 330px;
    }
  }
  .map {
    width: 330px;
    height: 300px;
    margin-top: 50px;
  }
  .hotel__block {
    margin-top: 400px;
    display: flex;
    flex-wrap: wrap;
  }
  .hotel__card {
    position: relative;
    left: 20px;
  }
  .hotel__bgimg {
    width: 330px;
    height: 400px;
    position: relative;
    top: -23px;
    left: -20px;
  }
  .hotel__bgimg2 {
    width: 330px;
    height: 400px;
    position: relative;
    top: -23px;
    left: -20px;
  }
  .hotel__bgimg3 {
    width: 330px;
    height: 400px;
    position: relative;
    top: -23px;
    left: -20px;
  }
  .hotel__aside {
    width: 330px;
    height: 200px;
    position: relative;
    left: 0;
    padding: 10px;
    top: 200px;
    h2 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
      width: 320px;
      margin-top: 10px;
    }
  }
  .carousel__box {
    position: relative;
    left: -70px;
    width: 250px;
    height: 300px;
  }
  .carousel-inner {
    width: 250px;
    height: 300px;
  }
  .hotel__wrap {
    width: 330px;
    height: 400px;
    position: relative;
    top: -20px;
  }
  .hotel__subtitle {
    position: relative;
    top: -10px;
    left: 10px;
    font-size: 20px;
  }
  .hotel__wrapper {
    width: 330px;
    height: 400px;
  }
  .hotel__wrapper2 {
    width: 330px;
    height: 400px;
  }
  .hotel__block .hotel__wrapper:nth-child(3) {
    margin-top: 20px;
  }
  .hotel__wrapper3 {
    width: 330px;
    height: 400px;
  }
  .hotel__content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: -20px;
  }
  .hotel__img {
    width: 250px;
    height: 200px;
  }
  .hotel__img2 {
    width: 250px;
    height: 200px;
  }
  .hotel__img3 {
    width: 250px;
    height: 200px;
  }
  .hotel__aside {
    p {
      font-size: 14px;
    }
  }
  .hotel__inner {
    width: 250px;
    position: relative;
    top: 0;
    height: 200px;
  }
  .carousel__vector {
    position: relative;
    top: 30px;
    left: -50px;
    width: 30px;
    height: 8px;
  }
  .carousel__vector_right {
    position: relative;
    top: 30px;
    left: 40px;
    width: 30px;
    height: 8px;
  }
  .payment__block {
    margin-top: -20px;
  }
  .payment__img {
    width: 330px;
    height: 300px;
    object-fit: contain;
  }
  .payment__wrapper {
    width: 330px;
    position: relative;
  }
  .payment__wrap {
    padding: 10px;
    position: absolute;
    left: 0;
    width: 330px;
    height: 300px;
  }
  .payment__title {
    font-size: 18px;
  }
  .payment__text {
    font-size: 14px;
    margin-top: 10px;
  }
  .payment__img2 {
    width: 330px;
    height: 300px;
    object-fit: contain;
  }
  .payment__wrapper-second {
    width: 330px;
    position: relative;
    left: -440px;
    top: -250px;
  }
  .payment__wrap-second {
    padding: 10px;
    position: absolute;
    left: 0;
    width: 330px;
    height: 300px;
  }
  .footertop__block {
    margin: 0;
    h2 {
      font-size: 24px;
    }
    .footertop__box {
      width: 330px;
    }
    .footertop__parag {
      width: 70px;
    }
    .footertop__text {
      font-size: 12px;
      width: 200px;
    }
    .footertop__form {
      margin-top: 10px;
      input {
        width: 300px;
        margin-bottom: 10px;
      }
      button {
        width: 300px;
      }
    }
  }
  footer {
    margin-top: 70px;
    .footer__img {
      width: 200px;
      height: 300px;
      margin-top: 243px;
      margin-left: -50px;
    }
    .footer__wrapper {
      display: flex;
      flex-direction: column;
      margin-left: 150px;
      justify-content: center;
      align-items: center;

      .footer__content {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
      h3 {
        font-size: 10px;
        line-height: 18px;
        margin: 0;
      }
      .footer__aside {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        span {
          font-size: 12px;
        }
        a {
          font-size: 12px;
        }
      }
    }
    .footer__logo {
      display: none;
    }
  }
}
