header {
  background-image: url("../Emaarbagimg.png");
  padding: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.header__block {
  width: 382px;
  padding: 30px;
  background: rgba(7, 28, 53, 0.5);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  margin-top: 40vh;
  cursor: pointer;
}
.header__block:hover {
  -webkit-backdrop-filter: blur(0);
          backdrop-filter: blur(0);
}

.header__hr {
  width: 100px;
  height: 1px;
  background-color: #fff;
  margin-top: 30px;
}

.header__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  margin-top: 30px;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.header__number {
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;
}

.header__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  width: 61px;
}

.header__list {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.header__wrap {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 50px;
}

@media only screen and (max-width: 375px) {
  .container {
    width: 100%;
    max-width: 375px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  transition: all ease 0.4s;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.emaar__block {
  display: flex;
  align-items: center;
  margin-top: 115px;
  gap: 60px;
}

.emaar__wrap {
  position: relative;
}

.emaar__img {
  width: 508px;
  height: 580px;
  position: absolute;
  left: 50px;
  top: -40px;
}

.emaar__content {
  width: 657px;
}

.emaar__title {
  font-weight: 400;
  font-size: 44px;
  line-height: 120%;
  text-transform: uppercase;
  color: #071c35;
  width: 657px;
}

.emaar__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  margin-top: 30px;
  width: 619px;
}

.emaar__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.emaar__list {
  font-weight: 400;
  font-size: 44px;
  line-height: 44px;
  color: #071c35;
}

.emaar__link {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #777777;
  margin-top: 10px;
}

.emaar__btn {
  padding: 11px 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  transition: all ease 0.4s;
  border: none;
  color: #ffffff;
  background: #071c35;
  border: 1px solid transparent;
  margin-top: 50px;
}
.emaar__btn:hover {
  transform: scale(1.1);
  border: 1px solid #071c35;
  background-color: transparent;
  cursor: pointer;
  color: black;
}

.project__title {
  margin-top: 190px;
  font-weight: 400;
  font-size: 54px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #071c35;
}

.project__block {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 52px;
}

.project__box {
  width: 420px;
  padding: 15px;
  transition: all ease 0.3s;
  border: 1px solid rgba(7, 28, 53, 0.1);
}

.emaar__aside {
  background: rgba(164, 164, 164, 0.348);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  padding: 22px 15px;
  width: 390px;
}

.emaar__subtitle {
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
  color: #071c35;
}

.emaar__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #071c35;
  margin-top: 7px;
}

.map {
  width: 1440px;
  margin-top: 120px;
}

.hotel__block {
  margin-top: 26px;
  display: flex;
  gap: 20px;
}

.hotel__block .hotel__wrapper:nth-child(2) {
  margin-top: 90px;
}

.hotel__block .hotel__wrapper:nth-child(3) {
  margin-top: 107px;
}

.hotel__card {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.03);
  padding: 30px;
  width: 301px;
  height: 360px;
  position: sticky;
  top: 0;
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #071c35;
  margin-bottom: 15px;
}

.card__label {
  margin-top: 10px;
}
.card__label label {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #777777;
}

.card__subtitle {
  margin-top: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #071c35;
}

.card__ancer {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #777777;
  display: block;
  margin-top: 8px;
  padding: 7px 0;
}
.card__ancer:hover {
  color: black;
}

.hotel__wrapper {
  border: 1px solid rgba(7, 28, 53, 0.1);
  padding: 25px;
}

.hotel__bgimg {
  background-image: url("../img/hotelbg_img.png");
  width: 920px;
  height: 570px;
}

.hotel__aside {
  padding: 28px 47px;
  background: rgba(255, 255, 255, 0.625);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  position: relative;
  top: 395px;
}

.hotel__aside h2 {
  font-weight: 400;
  font-size: 28.4536px;
  line-height: 38px;
  text-transform: uppercase;
  color: #071c35;
}

.hotel__aside p {
  font-weight: 300;
  font-size: 15.1753px;
  line-height: 23px;
  color: #071c35;
  margin-top: 21px;
}

.hotel__wrap {
  margin-top: 55px;
}
.hotel__wrap .hotel__content {
  display: flex;
}

.hotel__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #071c35;
  margin-bottom: 18px;
}

.hotel__img {
  width: 440px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.hotel__inner {
  box-shadow: 1px 1px 5px 0.4px rgba(213, 212, 212, 0.143);
  padding: 30px;
  width: 310px;
}
.hotel__inner h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #071c35;
}

.hotel__icons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 17px;
}
.hotel__icons p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #071c35;
}

.hotel__text {
  margin-top: 15px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
}

.hotel__price {
  margin-top: 13px;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  text-transform: uppercase;
  color: #071c35;
}

.hotel__btn {
  padding: 11px 75px;
  margin-top: 14px;
  background: #071c35;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid transparent;
  text-transform: uppercase;
  transition: all ease 0.3s;
  color: #ffffff;
}
.hotel__btn:hover {
  transform: scale(1.1);
  border: 1px solid #071c35;
  background-color: transparent;
  cursor: pointer;
  color: black;
}

.active {
  color: red;
}

.carousel__box {
  width: 800px;
  margin-left: 110px;
}

.carousel__vector {
  position: relative;
  left: -100px;
}

.carousel-inner {
  width: 750px;
}

.carousel__vector_right {
  position: relative;
  left: 55px;
  transform: rotate(180deg);
}

.payment__block {
  margin-top: 180px;
}

.img {
  margin-top: 300px;
}/*# sourceMappingURL=main.css.map */